body {
  front-family: arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #c90ec9;
  color: white;
  padding: 20px;
  text-aling: center;
}

nav {
  backgrubd-color: #c0b3b3;
  padding: 10px;
  text-align: center;
}
nav a {
  color: rgb(243, 242, 242);
  text-decoration: none;
  margin: 10px;
}
main {
  padding-bottom: 30px;
}
h1 {
  justify-content: center;
  text-align: center;
}
