*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe6f2;
    color: #5c2145;
}

/* HEADER */

header{
    background-color: #ff66b2;

    padding: 25px;

    text-align: center;
}

header h1{
    color: white;
    margin-bottom: 15px;
}

/* MENU */

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;

    margin: 0 15px;
}

nav a{
    color: white;

    text-decoration: none;

    font-weight: bold;

    font-size: 18px;
}

nav a:hover{
    color: #ffe600;
}

/* CONTEÚDO */

main{
    width: 90%;

    margin: 30px auto;
}

/* BOX MODEL */

.card{
    background-color: white;

    width: 80%;

    margin: 30px auto;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    text-align: center;
}

/* TEXTOS */

h2{
    margin-bottom: 20px;

    color: #ff1493;

    font-size: 32px;
}

p{
    margin-bottom: 15px;

    font-size: 18px;

    line-height: 1.6;
}

/* LISTA */

ul{
    margin: 20px 0;
}

ul li{
    margin: 10px 0;
}

/* BOTÃO */

.botao{
    display: inline-block;

    background-color: #ff66b2;

    color: white;

    padding: 12px 25px;

    margin-top: 15px;

    border-radius: 10px;

    text-decoration: none;
}

.botao:hover{
    background-color: #ff1493;
}

/* MÍDIAS */

video,
audio,
img{
    margin-top: 20px;
}

/* FOOTER */

footer{
    background-color: #ff66b2;

    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 40px;
}